.login-page{
	width:250px;
	margin:auto;
	margin-top:150px;
	position:relative;
	z-index:1;
	background:blue;
	padding:50px 30px 50px 20px;
	
}
.login-details{
	text-align:left;
	width:250px;
	margin-bottom:15px;
	height:25px;
	padding-left:10px;
	border:0;
	background-color:#ffff00;
}
a{
	text-decoration:none;
}
body{
	background-image:url(pic4.jpg);
	background-size:cover;
	background-position:center;
	height:100vh;
}
button{
	
	color:white;
	background-color:red;
	border:1px solid green;
	border:0;
	width:262px;
	outline:0;
	text-transform:uppercase;
	cursor:pointer;
	height:30px;
	
}
.message{
	margin-left:100px;
}